
$primaryColor = #eeffcc;

div.sample-box1 {
    background-color:$primaryColor;
}

div.sample-box2 {
	background-color:$primaryColor;
}

div.sample-box3 {
	background-color:$primaryColor;
}